<div class="row border-top py-5">
  <div class="col-12">
    <p class="">
      Jess Beale © 2022
    </p>
  </div>
</div>
<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/slick-gallery.js"></script>