<div class="row border-top py-5">
  <div class="col-12">
    <p class="">
      Jess Beale © 2022
    </p>
  </div>
</div>
<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script type="text/javascript" src="/js/fancybox-carousel.js"></script>