<div class="row d-flex justify-content-center">
  <div class="project-list">
    {%- for project in projects %}
      <div class="project">
        <a class="text-decoration-none text-dark" href="{{ project.url | url }}">
          {% myResponsiveImage "" + project.data.cover, "ss" %}
          <p class="fs-2 mb-0">{{ project.data.title }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>