<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">
  <head>
    {% include 'snippets/head.njk' %}
  </head>
  <body>
    {% include 'snippets/navbar.njk' %}
    <main class="container">
      <h1 class="pt-3">{{ title }}</h1>
      {{ content | safe }}
      <div class="row d-flex">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11 py-4">
            <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
              {%- for filename in images -%}
                <div class="carousel__slide" data-src="{{ filename }}" data-fancybox="gallery">
                  <img src="{{ filename }}"/>
                </div>
              {%- endfor -%}
            </div>
            <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
              {%- for filename in images -%}
                <div class="carousel__slide">
                  <img class="panzoom__content" src="{{ filename }}"/>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer class="container">{% include 'snippets/footer.njk' %}</footer>
  </body>
</html>