---
layout: layouts/about.njk
title: An excited technical draftsperson

link1: Learning Management Software Consultant @ Catalyst IT
link1_url: https://www.catalyst.net.nz/

link2: Older job
link2_url: https://www.youtube.com/watch?v=r_NjkhgCo9s

link3: Another Older job
link3_url: https://www.youtube.com/watch?v=r_NjkhgCo9s

email: jesslbeale[at]gmail[dot]com

about_content: Hey! I am Jess Beale and I am a beautiful wonder.
---

